:root{
    --orange-color: #aa6131;
    --blue-secundary-color: #3161aa;
    --black-color: #0e0705;
    --black-secundary-color: #12121a;
    --beige-color: #f0dfd3;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: var(--white-color);
}
p, span, li, a{
    font-family: 'Quicksand', sans-serif;
    color: var(--white-color);
}

body{
    background-color: var(--black-color);
}



/* HEADER ////////////////////////////////////////////////////////////////////////////////*/

.navegacion{
    background-color: var(--orange-color) !important;
    margin: 0;
}

.contenedorFluido{
    padding: 0;
    background-color: var(--orange-color);
    position: relative;
}

.NavLogo{
    padding: 0;
}

.NavLogo img{
    width: 150px;
}

.contenedorFluido .navbar-toggler{
    border: none;
}
.contenedorFluido .navbar-toggler:focus{
    box-shadow: none;
}

.botonMenu .IconMenu{
    background-image: none;
    margin-right: 1.5rem;
}

.contenedorFluido .BarraDeNavegacionColapsada{
    position: absolute;
    top: 120px;
    width: 100%;
}

.contenedorFluido .BarraDeNavegacionColapsada .ulNav{
    background-color: var(--orange-color);
    padding: 4rem;
    display: flex;
    align-items: center;
    line-height: 4rem;
    width: 100%;
}
.contenedorFluido .BarraDeNavegacionColapsada .ulNav li a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
}



/* MAIN /////////////////////////////////////////////////////////////////////////////////////////*/

/* div titulo */
.mainIndex .titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -999;
    height: 100vh;
    margin-bottom: 100px;
}
.mainIndex .titulo .flechaAbajo{
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-content: end;
}
.mainIndex .titulo .tituloTexto{
    background: transparent;
    position: absolute;
    text-align: center;
    top: 50%; /* Colocar en la mitad superior del div .titulo */
    left: 50%; /* Colocar en la mitad izquierda del div .titulo */
    transform: translate(-50%, -50%);
    z-index: -999;
}
.mainIndex .titulo .tituloTexto h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.mainIndex .titulo .tituloTexto h3{
    color: var(--blue-secundary-color);
}
.mainIndex .titulo .tituloTexto h1 .barra{
    color: var(--blue-secundary-color);
}


/* section registro */
.registro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registro .contenedorForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.registro .contenedorForm .tituloForm h2{
    font-size: 1.7rem;
    padding: .3rem;
}
.registro .contenedorForm .tituloForm h2 span{
    color: var(--blue-secundary-color);
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: .4rem;
}

.registro .contenedorForm form {
    margin-top: 1rem;
    background: var(--black-secundary-color);
    width: 100%;
    padding: 2rem 0;
} 

.registro .contenedorForm form .contenedorDivsForm{
    display: flex;
    flex-direction: column;
}

.registro .contenedorForm form  div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.registro .contenedorForm form  div input{
    padding: .6rem;
    border: 1px solid var(--blue-secundary-color);
    background-color: transparent;
    color: white;
    margin-top: .5rem;
    margin-right: .7rem;
    border-radius: .5rem 0 .5rem;
}
.registro .contenedorForm form  div input:focus{
    background-color: #4069a7d0;
    font-weight: 700;
    outline: none;
}

.botonEnviar{
    width: 200px;
}
.registro .contenedorForm form  div .botonEnviar:hover{
    transition: all .4s;
    background-color: var(--blue-secundary-color);
    color: var(--black-color);
}



/* MEDIA QUERIES  ////////////////////////////////////////////////////////////////////*/

/* MEDIA QUERY DESKTOP PARA HEADER */
@media screen and (min-width: 970px){
    .contenedorFluido .BarraDeNavegacionColapsada{
        position: inherit;
        top: 0;
    }
    .contenedorFluido .BarraDeNavegacionColapsada .ulNav{
        display: flex;
        justify-content: center;
        gap: .5rem;
        padding: .5rem;
    }
    .contenedorFluido .BarraDeNavegacionColapsada .ulNav li a{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--black-color);
    }
    .contenedorFluido .BarraDeNavegacionColapsada .ulNav li a:hover{
        color: var(--white-color);
        transition: all .3s;
    }
}


/* MEDIA QUERY DESKTOP PARA MAININDEX */
@media screen and (min-width: 980px){
    /* titulo div */
    .titulo .tituloTexto{
        z-index: 2;
        padding: 2rem 7rem;
        border-radius: 30px;
        width: 100vw;
    }
    .titulo .tituloTexto h1{
        font-size: 7rem;
        font-weight: 700;
        color: var(--white-color);
    }

    /* form */
    .registro .contenedorForm form{
        width: 80vw;
        height: 600px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .registro .contenedorForm form  div{
        flex-wrap: nowrap;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }
    .registro .contenedorForm form  div input{
        width: 70%;
    }
    .registro .contenedorForm form  div .botonEnviar{
        width: 20%;
    }
}